</body>
<script src="/Assets/scripts/script.js"></script>
<footer>
  <p>&copy; <span id=year></span> Sweet Creations Home Bakery. All rights reserved. | Developed by <a href="https://mbktechstudio.com" target="_blank">mbktechstudio.com</a></p>
</footer>
<script>document.getElementById("year").textContent=(new Date).getFullYear()</script>